body {
    /* font: normal 1.1em/1.5 open-sans,sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.25;
    font-weight: normal;
    margin: 10px;
    padding: 10px;
    background-color: #eceff1;
    color: #444;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-style:italic;
    color: #37474f;
    font-size: 2em;
    text-shadow: 3px 3px 6px;
    text-decoration: underline;  /*underline h1 */
    text-align: center;
}

h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #8324aa;
    font-size: 1.5em;
    letter-spacing: 2px;
    border-bottom: 3px #4caf50;
    
}
main { font-family: Arial,Helvetica,sans-serif;
       font-weight: bold;
       color: green;
}
footer {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 12px;
    border-color: #e67e22;
}

#footer {
    background-color: #bdc3c7;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0;
    border-color: #e67e22;
}

#copyright {
    margin-bottom: 0;
    font-size: 0.85em;
    border-top: 3px solid #455a64;
    padding-top: 0.5em;
    color: #8324aa;
}

a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: darkmagenta;
    text-decoration: underline; /* underline all links */
}
/* a:visited {
  color:coral;
} */

a:hover {
    color: red;
    text-decoration: none; /*remove underline on hover */

}
a:active {
    color: #e67e22;
}
   
button {
    background-color: #00796b;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    border-radius: 0.8em;
    display: inline-block;
    text-align: center;
    border: none;
    font-family: inherit;
    transition: background-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

/* Pseudo-classes */
button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 3px 8px;
}

form {
    padding: 10px 10px 10px 0;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}
